section div.text{
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 1rem;
    top: 50%;
    background: white;
    height: 50%;
}

section .text p{
    font-size: 14px;
}

section .text p .construtop{
    font-size: 1rem;
    font-weight: bold;
}

section .sobre-imagem{
    height: 50%;
    width: 100%;
    object-fit: cover;
    object-position: 0 60%;
    max-height: 500px;
}