section.denuncias{
    padding: 1rem;
}

section.denuncias h3, section.denuncias p{
    padding-bottom: 1rem;
}

section.denuncias form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 3rem;
}

section.denuncias form input:not(input[type='submit']), textarea{
    padding: .5rem 1rem;
    border-radius: 3px;
    border: 1px solid #767676;
}

section.denuncias form textarea{
    height: 150px;
    resize: none;
}

section.denuncias form input[type='submit']{
    border: 0;
    background-color: #a52a2a;
    color: #fff;
    border-radius: 10px;
    padding: .5rem 0;
    width: 200px;
    align-self: center;
}

@media screen and (min-width: 1024px) {
    section.denuncias form{
        padding: 0 20rem;
    }
}