section.apresentacao{
    padding: 1rem;
    text-align: center;
}

section.apresentacao a{
    color: #000;
    text-decoration: none;
    font-size: 12px;
    padding: .5rem;
    border-radius: 20px;
    border: 1px solid #a52a2a;
    transition: all .25s ease-in-out;
}

section.apresentacao a:hover{
    background-color: #a52a2a;
    color: #fff;
    font-size: 13px;
}

@media screen and (min-width: 1024px){
    section.apresentacao a{
        font-size: 13px;
    }

    section.apresentacao a:hover{
        font-size: 14px;
    }
}