section.servicos{
    padding: 1rem;
}

section.servicos div{
    display: flex;
    align-items: center;
    padding-top: 1rem;
}

section.servicos div ul{
    display: flex;
    flex-direction: column;
    gap: 7px;
}

section.servicos img{
    width: 50%;
    object-fit: cover;
}

@media screen and (min-width: 1024px){
    section.servicos div{
        justify-content: center;
        gap: 80px;
    }

    section.servicos div ul{
        font-size: 18px;
    }
    section.servicos img{
        width: auto;
        max-height: 200px;
    }
}